<p>Write the user name and the password. If the user doesn't exist, the application saves new user.</p>
<form class="autorization" method="post" action="/">
  <fieldset>
    <label for="name">Имя</label>
    <input name="name" type="text" placeholder="user name" required>
  </fieldset>
  <fieldset>
    <label for="password">Password</label>
    <input name="password" type="password" placeholder="password">
  </fieldset>
  <button type="submit">Send</button>
</form>
<script src="/javascripts/auth.js"></script>