<ul class="nav">
  <li><a href="/">Main</a></li>

  <!-- <li><a href="/login">Log in</a></li> -->

  <% if(!user) { %>
    <li><a href="/login">Log in</a></li>
  <% } else { %>
    <li><a href=""  class="log-out" >Log out</a></li>
  <% } %>
</ul>