<ul class="messages-wrap">
  <li><!-- user: message --></li>
</ul>
<form class="chat-form" method="" action="/">
  <fieldset>
    <label for="message">Message</label>
    <input name="message" type="text" placeholder="type message" required>
  </fieldset>
  <button type="submit">Send</button>
</form>

<script src="/javascripts/webSocket.js"></script>